{% extends "base.html" %}

{% block content %}
  <style>
  .grid-container {
    display: grid;
    grid-gap: 40px;
    grid-template-columns: auto auto auto;
    background-color: LightGray;
    padding: 10px;
  }
  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    text-align: center;
  }
  </style>


  <h1>Homemade recipes posts {{ name }}</h1>

  {% load socialaccount %}

  <h2>Django Allauth</h2>
  {% if user.is_authenticated %}
  <p>Welcome {{ user.username }} !!!</p>
  {% else %}
  <a href="{% provider_login_url 'github' %}">Sign Up</a>
  {% endif %}

  {% csrf_token %}
  <div id="photo_list">
    List of {{ number_of_results }} recipes <br/><br/>    <div class="grid-container">
    {% for photo_recipe in photo_list %}
      <div class="grid-item">
      <img src="{% url 'get_recipe_image' photo_recipe.id %}" witdh="220px" height="220px"/>
        <ul>
         <li>Name: {{photo_recipe.name}}</li>
         <li>{{photo_recipe.posted}}</li>
         <li>
           <button class="likes_up" type="button" data-catid-up="{{photo_recipe.id}}"><img src="../static/images/like_up.png" alt="Up" height="20px" width="20px"></button>
           <div class="likes_up_count">{{photo_recipe.likes_up}}</div>
           <button class="likes_down" data-catid-down="{{photo_recipe.id}}"><img src="../static/images/like_down.png" alt="Down" height="20px" width="20px"></button>
           <div class="likes_down_count">{{photo_recipe.likes_down}}</div>
         </li>
         <li>Tags: {{ photo_recipe.tags}}</li><br>
         <a href="/recipes_dashboard/show_recipe/{{ photo_recipe.id }}"><img  src="../static/images/show2.png" alt="V" witdh="40px" height="40px"></a>
         <a href="/recipes_dashboard/update_recipe/{{ photo_recipe.id }}"><img  src="../static/images/edit.ico" alt="U" witdh="30px" height="30px"></a>
         <a href="/recipes_dashboard/delete_recipe/{{ photo_recipe.id }}" id="delete_image" data-del="{{photo_recipe.name}}"><img  src="../static/images/delete1.png" alt="D" witdh="30px" height="30px"></a>
        </ul>
        </ul>
      </div>
      {% endfor %}
      <br/>
    </div>
  </div>

{% endblock content %}
