{% extends "base.html" %}

{% block content %}
  <style>
  .grid-container {
    display: grid;
    grid-gap: 40px;
    grid-template-columns: auto auto auto;
    background-color: LightGray;
    padding: 10px;
  }
  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    text-align: center;
  }
  </style>

  <h1>Homemade recipes posts</h1>

  <div id="photo_list">
    List of {{ number_of_results }} recipes <br/><br/>    <div class="grid-container">
    {% for photo_recipe in photo_list %}
      <div class="grid-item">
      <img src="{% url 'get_recipe_image' photo_recipe.id %}" witdh="220px" height="220px"/>
        <ul>
         <li>Name: {{photo_recipe.name}}</li>
         <li>{{photo_recipe.posted}}</li>
         <li>Likes up: {{photo_recipe.likes_up}}</li>
         <li>Likes down: {{photo_recipe.likes_down}}</li>
         <li>Tags: {{ photo_recipe.tags}}</li><br>
         <a href="/recipes_dashboard/show_recipe/{{ photo_recipe.id }}"><img  src="../static/images/show2.png" alt="V" witdh="40px" height="40px"></a>
         <a href="/recipes_dashboard/update_recipe/{{ photo_recipe.id }}"><img  src="../static/images/edit.ico" alt="U" witdh="30px" height="30px"></a>
         <a href="/recipes_dashboard/delete_recipe/{{ photo_recipe.id }}"><img  src="../static/images/delete1.png" alt="D" witdh="30px" height="30px"></a>
        </ul>
        </ul>
      </div>
      {% endfor %}
      <br/>
    </div>
  </div>

{% endblock content %}
