{% extends "base.html" %}
{% block content %}

<style>
/* Create two columns that floats next to each other */
.column1 {
  float: left;
  width: 50%;
  padding: 10px;
  /*height: 300px; /* Should be removed. Only for demonstration */
}

.column2 {
  float: left;
  width: 50%;
  padding: 10px;
  text-align: left;
  /*height: 300px; /* Should be removed. Only for demonstration */
}

.grid-container {
  display: grid;
  grid-gap: 40px;
  grid-template-columns: center;
  background-color: LightGray;
  padding: 10px;
  width: 100%;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  width: 100%;
  padding: 20px;
  text-align: center;
  float: right;
}
</style>

  <h1>Recipe - {{ detail.name }}</h1><br>
  <div id="photo_list" class="row">
    <div class="grid-container">
      <div class="grid-item">
        <div class="column1" >
          <img src="{% url 'get_recipe_image' detail.id %}" witdh="380px" height="380px"/>
        </div>
        <div class="column2" >
          <ul>
           <li>Name: {{detail.name}}</li>
           <li>{{detail.posted}}</li>
           <li>Likes up: {{detail.likes_up}}</li>
           <li>Likes down: {{detail.likes_down}}</li>
           <li>Tags: {{ detail.tags}}</li><br>
           <a href="/recipes_dashboard/update_recipe/{{ detail.id }}"><img  src="/static/images/edit.ico" alt="U" witdh="30px" height="30px"></a>
           <a href="/recipes_dashboard/delete_recipe/{{ detail.id }}"><img  src="/static/images/delete1.png" alt="D" witdh="30px" height="30px"></a>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!--<div id="photo_list">
    <div class="grid-container">
      <div class="grid-item">
      <img src="{% url 'get_recipe_image' detail.id %}" witdh="450px" height="450px"/>
        <ul>
         <li>Name: {{detail.name}}</li>
         <li>{{detail.posted}}</li>
         <li>Likes up: {{detail.likes_up}}</li>
         <li>Likes down: {{detail.likes_down}}</li>
         <li>Tags: {{ detail.tags}}</li><br>
         <a href="/recipes_dashboard/update_recipe/{{ detail.id }}"><img  src="/static/images/edit.ico" alt="U" witdh="30px" height="30px"></a>
         <a href="/recipes_dashboard/delete_recipe/{{ detail.id }}"><img  src="/static/images/delete1.png" alt="D" witdh="30px" height="30px"></a>
        </ul>
      </div>
      <br/>
    </div>
  </div>-->
  <script src="/static/js/recipes.js"></script>

{% endblock content %}
