{% extends "base.html" %}

{% block title %}Recipes{% endblock %}
{% block content %}
<form action="action_signin" method="post" style="border:1px solid #ccc">
 <div class="imgcontainer" style="text-align: center;">
	 <img src="/static/images/logo.png" alt="Avatar" class="avatar">
 </div>

 <div class="container" style="text-align: center;">
   <h1>Sign In</h1>

   <ul>
      <li><label style="text-align: center;" for="uname"><b>Username</b></label>
      	  <input id="userlogin" style="text-align: center;" type="text" placeholder="Enter Username" name="userlogin" required></li>

      <li><label for="psw"><b>Password</b></label>
      	  <input id="userpsw" type="password" placeholder="Enter Password" name="userpsw" required></li><br>

	 <button type="submit">Login</button>
	 <label>
		 <input type="checkbox" checked="checked" name="remember"> Remember me
	 </label>

	 <button type="button" class="cancelbtn">Cancel</button>
	 <span class="psw">Forgot <a href="#">password?</a></span>
 </div>
</form>
<br>
{% endblock %}
